<div class="container">
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <%= image_tag '/assets/gamenet.home.jpg', :size =>'100%' %>

    </div>
  </div>
</div>

<div class="all-items-show-button"><%= link_to "レビューをする", games_search_path %></div>
<div class="container new-review">
  <h2>新着レビュー</h2>

  <div class="all-items-show-button"><%= link_to "全てのレビューをみる", reviews_path %></div>
 </div>