

<% reviews.each do |review| %>
      <tr>
      <td><%= link_to(review.customer) do %>
          <%= image_tag params[:image], size:'50x50' %>
          <% end %>
      </td>
          <%= params[:title] %>
<% end %>