<h1>Public::Reviews#show</h1>
<p>Find me in app/views/public/reviews/show.html.erb</p>
<script>
  let showRateElement = document.querySelector('#show-stars');
  let showOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rate]',
    score: "<%= @review.rate %>",
    readOnly: true
  };
  window.raty(showRateElement, showOpt);
</script